<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

th:replace="~{user/dashboard:: dashboard(~{::div})}"
>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
    <div class="dashboard-container" style="overflow: scroll;">
    <script type="text/javascript">
    	let fetchUsers = () => {
        
    		let searchText = $("#searchBox").val();
    		if(searchText.length<=2)
            {
             $("#search-dropdown").removeClass("show");
                    	 
              return;
            }
    		let searchresult = $("#search-result");
    		let resultArea= $("#search-dropdown");
       	 	resultArea.addClass("show");
        fetch("/contacts/search?searchText="+searchText)
                    .then( (r)=>r.json().then(
                      res=>
                      {
                    	 
                       let col = "";
                    	 res.forEach(contacts => {
                    		 console.log(contacts.cId);
                          col = col.concat( 
                        	"<tr >"+
                          "<th scope=\"row\" ><span > US"+contacts.cId+"</span></th>"+
                          "<td>"+
                          "<a href=\"/user/dashboard/profile/"+contacts.cId+"\">"+
                          "<img class=\"contact-pic\" src=\"/img/"+contacts.image+"\" /> "+
                          "<span >"+contacts.name+"</span>"+
                          "</a>"+
                          "</td>"+
                          "<td><span> "+contacts.phone+"</span></td>"+
                          "<td><span> "+contacts.email+"</span></td>"+
                          "<td><span> "+contacts.nickName+"</span></td>"+
                          "<td><span> "+contacts.work+"</span></td>"+
                          "<td><button type=\"button\" onclick=\"deleteUser("+contacts.cId+")\""+
                           " class=\"btn btn-danger\">Delete</button>"+
				                  "<a href=\"/user/dashboard/contact/update?id="+contacts.cId+"\""+
                          " class=\"btn btn-success\">Update</a>"+
				                    "</td>"+
                          "</tr>");
   						});
                        searchresult.html(col);
                      }))};
    	
		let deleteUser = (id)=>
				{
						console.log(id);
						fetch("/delete/contact?id="+id).then(
              (r)=> r.text().then( 
                res => {
                  
                  
                  if(res=="success")
                  {
                    alert("Successfully Deleted Contact");
                    location.reload();
                  }
                  else{
                    alert("Unable to Delete Contact");
                  }	 	
                }
                
              )
            )
						
						
				}
    	
    	
    </script>
    <div class="container">
    
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Search Contacts</label>
  
  <input  oninput="fetchUsers()" onclick="fetchUsers()" id="searchBox" type="text" 
  class="form-control dropdown-toggle" data-bs-toggle="dropdown" placeholder="Start search..">
  
   <div class = "dropdown-menu" id="search-dropdown">
  <table class="table ">
            <!-- <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Nick-name</th>
                <th scope="col">Work</th>
                <th scope="col">Actions</th>
              </tr>
            </thead> -->
            <tbody  id="search-result">
            
            
              
              
            </tbody>
          </table>
  </div>
</div>
    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Nick-name</th>
                <th scope="col">Work</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            
            
              <tr th:each="contacts: ${Contacts}" th:id="'US'+${contacts.cId}">
                <th scope="row" ><span th:text="'US'+${contacts.cId}" ></span></th>
                <td>
                <a th:href="'/dashboard/profile/'+${contacts.cId}">
                <img class="contact-pic" th:src="'/img/'+${contacts.image}" /> 
                <span th:text="${contacts.name}"></span>
                </a>
                </td>
                <td><span th:text="${contacts.phone}" ></span></td>
                <td><span th:text="${contacts.email}"></span></td>
                <td><span th:text="${contacts.nickName}"></span></td>
                <td><span th:text="${contacts.work}"></span></td>
                <td>
                <button type="button" th:onclick="'deleteUser('+${contacts.cId}+')'" class="btn btn-danger">Delete</button>
				<a th:href="'/user/dashboard/contact/update?id='+${contacts.cId}"  class="btn btn-success">Update</a>
				</td> 
              </tr>
              
            </tbody>
          </table>
          
          <nav aria-label="...">
  <ul class="pagination">
    <li th:classappend="${currentPage==0?'disabled':''}" class="page-item ">
      <a class="page-link" th:href="${'/user/dashboard/contacts?page='+(currentPage-1)}">Previous</a>
    </li>
    
    <li th:each="i : ${#numbers.sequence( 0 ,pageSize-1,1)}" th:classappend="${currentPage==i?'active':''}" class="page-item " aria-current="page">
      <a class="page-link"  th:text="${i+1}" th:href="${'/user/dashboard/contacts?page='+i}"></a>
    </li>
    
    
    <li class="page-item">
      <a class="page-link" th:classappend="${currentPage==pageSize-1?'disabled':''}" th:href="${'/user/dashboard/contacts?page='+(currentPage+1)}">Next</a>
    </li>
  </ul>
</nav>
          </div>
    </div>
</body>
</html>