<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/dashboard:: dashboard(~{::div})}">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div class="dashboard-container" style="overflow: scroll">
		<div class="container">
			<div>
				<script type="text/javascript" th:src="@{/js/mail.js}"></script>
				<div class="col mx-5 py-5">
					<form th:action="@{/dashboard/mail/post}" id="mailForm" th:method="POST"
						th:object="${mail}" enctype="multipart/form-data" >

						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">To:
							</label> 
							<div id="mailIdInputHolder" style="display: none;">
							</div>
							
						</div>
						<div class="container">
							<div class="row" id="selectedMails"></div>
						</div>

						<div class="mb-3 input-group">
							<span class="input-group-text" id="addon-wrapping"> <span
								class=" nav-icon material-symbols-outlined"> search </span>
							</span> <input oninput="getContacts(value)" type="text" th:name="@{to}"
								class="form-control " id="SearchMailInput" />
						</div>

						<div id="showMailsResults"
							style="width: 65%; border: 0.05px #80808059 solid; margin-top: -12px; box-shadow: 1px grey; display: none; background-color: white;"
							class="z-2 mx-5  position-absolute "></div>

						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">CC</label>
							<input type="text" th:name="@{cc}" class="form-control"
								id="exampleFormControlInput1" />
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label">Subject</label>
							<input type="text" th:name="@{subject}" class="form-control"
								id="exampleFormControlInput1" />
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Attachment</label>
							<input type="file"    class="form-control"  name="attachment"
								 id="exampleFormControlTextarea1"/>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Body</label>
							<textarea class="form-control"  th:field="*{body}"
								 id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
						<div class="mx-auto w-25">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
