<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/dashboard:: dashboard(~{::div})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<div class="dashboard-container" style="overflow: scroll;">
		<div class="container my-5">

			<div class="row">
				<div class="  col-lg-12 d-flex justify-content-center">

					<img class="profile-pic" th:src="@{/img/}+${user.image}">

				</div>
			</div>
			
			<div class="row my-2">
			<div class="col d-flex justify-content-center">
			<h1 th:text="${user.name}"></h1></div>
			</div>
			<div class="row">
			<div class="col d-flex justify-content-center">
			<p>Role: <span th:text=" ${user.role}">  </span></p>
			</div>
			</div>
			<div class="row">
			<div class="col d-flex justify-content-center">
			<p>Email: <span th:text=" ${user.email}">  </span></p>
			</div>
			</div>
			
			<div class="row mx-auto d-flex justify-content-center ">
			<div class="col-lg-10">
			About: <p ></p>
				</div>
				</div>

				


			</div>
		</div>
	

</body>
</html>