<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/dashboard:: dashboard(~{::div})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<div class="dashboard-container" style="overflow: scroll;">
		<div class="container my-5">

			<div class="row">
				<div class="  col-lg-12 d-flex justify-content-center">

					<img class="profile-pic" th:src="@{/img/prof-pic.png}">

				</div>
			</div>
			
			<div class="row my-2">
			<div class="col d-flex justify-content-center">
			<h1>Shaikh Shahzade</h1></div>
			</div>
			<div class="row">
			<div class="col d-flex justify-content-center">
			<h4>Role: Admin</h4>
			</div>
			</div>
			<div class="row">
			<div class="col d-flex justify-content-center">
			Email: <span>Shahzade10@gmail.com </span>
			</div>
			</div>
			
			<div class="row mx-auto d-flex justify-content-center ">
			<div class="col-lg-10">
			About: <span> </span>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Excepturi aliquam vel inventore nobis modi! Quas accusamus soluta
						quia sunt sequi, dolorum culpa repellendus dicta, impedit quaerat
						iure temporibus vero quod asperiores accusantium voluptatem
						commodi quidem id qui, ipsam perspiciatis? Voluptatum quibusdam
						voluptatem deleniti amet tempora at quae ipsum ex, quaerat harum,
						nisi, maiores nihil rem. Maxime blanditiis sint eum labore aliquid
						eligendi laudantium! Iure quia at ab suscipit, minus incidunt
						nulla voluptatem, laboriosam pariatur harum voluptate sequi
						distinctio eveniet nisi eaque blanditiis, aspernatur sapiente.
						Corporis iste asperiores autem sint atque corrupti magni deleniti,
						dolore perspiciatis ea ex optio, repellendus voluptatibus? Lorem
						ipsum dolor, sit amet consectetur adipisicing elit. Sint, omnis
						quidem vero ea doloribus tenetur corrupti sequi laudantium, aut
						eveniet soluta suscipit cumque asperiores veniam in eligendi
						adipisci dolores voluptatum? Lorem ipsum dolor sit amet
						consectetur adipisicing elit. Officia vel quam, nihil autem ipsam
						commodi ut ex neque? Laudantium, atque magni? Autem ipsa quidem
						hic officiis perspiciatis voluptate deleniti id totam tenetur,
						numquam aperiam necessitatibus eum similique sequi consequatur
						sint, quisquam placeat maiores dicta, at voluptatibus? Commodi
						repellat nemo quas adipisci quia? Ipsa nostrum tenetur modi odit
						atque, possimus voluptate veritatis praesentium voluptas ad esse
						laboriosam in laborum rerum voluptatem autem eius consequuntur.
						Accusantium sed consectetur quasi tempore cum quae suscipit
						asperiores aliquam quibusdam eum earum eos cupiditate a, totam
						saepe eligendi quod inventore soluta consequuntur velit,
						voluptatibus, aspernatur labore. Ullam minima laboriosam
						temporibus. Voluptatem ut quae eos, nam, sint labore qui debitis
						quaerat reiciendis quod vero culpa eum dolores repellat id nihil
						necessitatibus non, expedita adipisci perspiciatis architecto!
						Pariatur earum, ullam vel sapiente dolorem ducimus et omnis sint
						consequatur accusamus labore neque corrupti incidunt voluptate est
						ad iste sequi error. Dolores sit minus voluptates unde magnam
						dolore non rem perferendis quod inventore? Suscipit, eum iste?
						Ipsum alias tempora repellat amet unde aperiam fuga hic enim
						tempore nihil, fugit architecto itaque, eaque cum quis autem sit
						perferendis, consequatur voluptates consectetur deserunt assumenda
						est praesentium? Nostrum maiores quis possimus suscipit molestiae
						ipsum? Vero recusandae quos quisquam autem earum at corrupti,
						repudiandae quas suscipit eum distinctio libero doloremque. Beatae
						provident amet eum voluptas quasi consectetur ad ea doloribus,
						sint architecto deleniti placeat expedita, obcaecati aspernatur
						illo quidem voluptatum nostrum voluptates vero. Architecto, id in!
						Deserunt eum fugiat sint, iusto quae facilis cupiditate sunt odit
						ullam ab sit, optio nihil voluptatem omnis repellat harum
						aspernatur doloribus veniam praesentium magni quidem! Repudiandae
						id, nemo tempore alias dignissimos deserunt porro sequi dolores
						quaerat commodi, soluta cupiditate nam impedit repellat eveniet
						perspiciatis dolorem facilis, amet quis molestias rem earum!
						Architecto laborum beatae doloremque repudiandae, blanditiis quam
						inventore similique nulla culpa. Atque ducimus explicabo, sunt
						assumenda molestiae tenetur, voluptatibus illo et deserunt
						repellat debitis dolor delectus doloremque beatae natus, quo
						voluptatum fugiat nisi ipsum! Commodi ipsum, enim at sint omnis
						sed repellat dolorum fuga exercitationem nam eius deleniti
						voluptate molestiae tenetur quia numquam accusantium quo neque
						pariatur? Eius deserunt iure totam amet iusto alias! Veritatis et
						soluta sed facilis incidunt pariatur, amet sint necessitatibus!
						Optio reiciendis maiores atque sunt harum assumenda iusto
						voluptate, facilis ipsa voluptatibus illo perferendis molestias
						odit incidunt commodi ex qui error. Pariatur optio, odit impedit
						maiores ex cupiditate, doloremque aspernatur incidunt labore
						quibusdam, hic dolorem cumque animi iure non natus! Error, velit
						ullam similique deleniti libero neque recusandae nihil amet
						reprehenderit et nesciunt. Dolorum commodi architecto minus
						excepturi vero quos quibusdam officia alias blanditiis, quasi
						reiciendis quisquam maiores aliquam explicabo id beatae nemo,
						corrupti doloremque repudiandae sequi assumenda ratione
						consequuntur. Architecto labore voluptatum fugit? Laudantium ea
						consequatur nesciunt laborum optio tempora, rerum veniam
						asperiores voluptas omnis nostrum labore distinctio ratione
						blanditiis alias amet recusandae sint quisquam temporibus
						molestiae! Veritatis animi magni iste fugit rerum perspiciatis
						unde, sit ullam voluptates accusamus est repudiandae consequuntur
						et cupiditate, quibusdam similique nisi. Excepturi ab ex fugiat
						tempora facilis, id provident blanditiis libero a voluptatem,
						repellendus ducimus ea eius, itaque nam suscipit? Explicabo eos
						distinctio voluptatibus libero doloremque cumque deleniti ut
						facere rem repellendus maxime atque odio quae quo eaque commodi
						consectetur necessitatibus saepe inventore, sequi ex et corrupti?
						Ipsa neque odio ducimus dolores ut ad ratione molestiae
						accusantium provident tempora voluptate officiis culpa,
						repellendus quod quos molestias voluptatibus saepe nihil ab sunt.
						Commodi optio accusantium officia exercitationem laboriosam illum
						laudantium fuga tenetur, doloremque id velit deserunt, sit unde
						possimus ipsum reprehenderit officiis veritatis sed, veniam
						suscipit beatae delectus saepe voluptates? Numquam repellat eius
						impedit praesentium incidunt, pariatur aspernatur? Ad ea natus quo
						omnis, optio culpa fugiat id dicta doloribus neque voluptatum
						beatae tempora modi debitis, ut iusto saepe ipsum! Magnam ducimus
						quo laudantium ipsum vitae perferendis, omnis voluptatum aliquam
						sapiente, distinctio dignissimos explicabo eligendi atque illo
						dolorem obcaecati iste cupiditate! Modi quo nobis repudiandae non
						numquam optio quas provident magnam quibusdam reiciendis dolorum
						vel illum sit maiores laudantium, quaerat est rem impedit velit
						blanditiis in ratione doloremque rerum amet! Consequatur quae
						mollitia laborum aliquam, ipsa ea sapiente tempora amet
						repudiandae ut impedit, similique dolorum, porro ipsam. Assumenda
						beatae sequi voluptate odio, eligendi tenetur impedit nam a
						distinctio consectetur molestiae tempora atque eius enim porro
						suscipit obcaecati nobis iste sapiente reiciendis! Ea molestiae
						maiores dignissimos officia voluptatibus et dolores sit dicta
						quasi laudantium asperiores similique, ex omnis, porro earum.
						Dolorum, omnis voluptas? Atque hic ipsum suscipit tempora at
						maxime nobis architecto sint harum exercitationem molestiae
						reprehenderit voluptates incidunt, fuga molestias illum autem
						neque, numquam quos perferendis animi! Fugiat, recusandae ipsa
						soluta similique quam corrupti ipsam asperiores magnam natus, sit
						odio ullam excepturi corporis eos atque architecto unde incidunt
						iure mollitia hic ut? Nobis aliquid expedita accusamus sunt
						consequatur eaque repellendus cum voluptatum adipisci, veritatis
						quae corporis laudantium, iure odit assumenda quos ipsum possimus
						incidunt dolorum quibusdam omnis exercitationem animi neque.
						Voluptatibus voluptatem esse mollitia deleniti ea. Quas magnam
						facilis natus ducimus aperiam aut quis consectetur, nobis odio ex,
						explicabo, maxime porro reprehenderit veniam dolorem beatae quod
						nulla deserunt esse sed consequatur fugit praesentium illum!
						Delectus iure aperiam sit consectetur deserunt repudiandae,
						incidunt ducimus laudantium earum? At, dolor! Maiores corporis
						unde sit harum, dolores illum sapiente nemo eligendi magnam
						praesentium repudiandae deserunt fugiat doloribus ut delectus,
						illo quis rerum natus, eius aut architecto perferendis ex laborum!
						Ab magnam, hic labore nobis iusto architecto quam quo eius veniam?
						Nobis iure nesciunt, adipisci consequatur omnis tempore, soluta
						saepe aperiam delectus unde, possimus quam? Sequi, delectus dicta!
						Obcaecati accusamus aliquam soluta vero ex error saepe dolorum
						voluptates dolorem pariatur similique dolores aperiam repellat,
						corporis quia voluptatem totam provident asperiores sed vel? Alias
						at aspernatur sunt inventore eveniet minus assumenda obcaecati
						aliquid rerum maxime voluptas omnis fuga esse, dolore deleniti
						natus voluptate quidem rem amet excepturi. Laboriosam rem nam et,
						obcaecati fugit assumenda modi officia quas veritatis velit, minus
						commodi tempora. Dolores alias tempora modi nulla magnam sapiente
						possimus veritatis labore temporibus? Ullam quos sapiente nemo hic
						assumenda dolores nihil sint ipsa porro!</p>
				</div>
				</div>

				<div class="row">
				<div class="col">
					Number of Contacts: <span> </span>
				</div>
				</div>

				<div class="row">
				<div class="col">
				contacts on work Type
				</div>
				</div>


			</div>
		</div>
	

</body>
</html>